# Build outputs
build/
bin/
lib/
*.exe
*.dll

# Dependencies & toolchains
vcpkg/
vcpkg_installed/
.venv/

# IDE / OS specific
.vs/
.vscode/
*.user
*.suo
build/
service/venv/

__pycache__/
*.pt
venv/
build/
